.signinContainer {
  width: 39rem;
  display: flex;
  flex-direction: column;

  .signinButtonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .signinTitle {
    margin: 1rem 0;
  }
}