.resultContainer {
  margin-bottom: 3.5rem;

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .owner {
    display: flex;
    margin: 1rem 0;

    .info {
      display: flex;
      flex-direction: column;
      margin: 0 1rem;
    }
    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
}