*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  /* it will convert 1rem = 10px, so we can write fraction number easily 
  such as 1.5rem means - 15px */
  font-size: 62.5%;
}
body {
  /* font-color: #1d1d27(with white bg) #a2abad(with black bg) */
  color: #1d1d27;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
